#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto {
    width: 60%;
    max-width: 700px;
    min-width: 250px;
    background-color: #d8cdb1;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    align-self: center;
}

#contacto input,
#contacto textarea {
    background-color: #ede7db;
    font-family: inherit;
    padding: 0.7rem;
    color: #3a2a18;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
}

#contacto textarea {
    min-height: 180px;
    resize: vertical;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#gracias {
    background: #ede7db;
    padding: 2rem 3rem;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

#overlay.activo {
    display: flex;
}