#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 4rem;
}

#galeria article {
  background-color: #d8cdb1;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

#galeria img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.detalles {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.detalles h3,
.detalles p {
  margin: 0.3rem 0;
}

.precio {
  font-weight: 600;
}

.vermas {
  background-color: #c9b89b;
  color: #3a2a18;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 120px;
  margin: 0.5rem auto;
  cursor: pointer;
  transition: background-color 2s ease;
}

.vermas:hover {
  background-color: #bba77f;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e6dfcd;
}

::-webkit-scrollbar-thumb {
  background: #bba77f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}