@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: "Inconsolata";
  background-color: #f0ede6;
  color: #3a2a18;
}

nav {
  padding: 3vh;
  display: flex;
  justify-content: center;
  gap: 15vw;
  background-color: #c9b89b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

a {
  color: #3a2a18;
  font-size: 3vh;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}