#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pintura {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #d8cdb1;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    border-radius: 15px;
    padding: 2.5rem;
}

.pintura img {
    height: 70vh;
    border-radius: 15px;
}

.pintura-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}