#container {
    display: flex;
    justify-content: center;
    background-color: #d8cdb1;
    border-radius: 15px;
    width: 70%;
    height: 65%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 2rem;
    margin: 5rem 14rem;
}

.pintura {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0;
}

img {
    width: 80%;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: red;
}

span {
    font-weight: 600;
}