#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pintura {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 70vh;
    background-color: #d8cdb1;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    border-radius: 15px;
    padding: 2.5rem;
}

.cuadro {
    height: 70vh;
    border-radius: 15px;
    overflow: hidden;
}

.pintura-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.5rem;
}

.pintura-info p {
    font-size: 1.2rem;
}

span {
    font-weight: 600;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
}

.volver {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    background-color: #c9b89b;
    color: #3a2a18;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 120px;
    margin: 0.5rem auto;
    cursor: pointer;
    transition: background-color 2s ease;
}

.volver img {
    height: 0.8rem;
}

#pintura-contacto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#contacto-box {
    width: 60%;
    height: 50%;
    max-width: 700px;
    min-width: 250px;
    background-color: #d8cdb1;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    padding: 1.6rem;
    gap: 1rem;
}

#pintura-contacto.activo {
    display: flex;
}

#form-pintura {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#pintura-cliente,
#pintura-mensaje {
    background-color: #ede7db;
    font-family: inherit;
    padding: 0.7rem;
    color: #3a2a18;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    width: 80%;
}

#pintura-mensaje {
    min-height: 180px;
    resize: vertical;
}