@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: "Inconsolata";
  background-color: #f0ede6;
  color: #3a2a18;
}

nav {
  padding: 3vh;
  display: flex;
  justify-content: center;
  gap: 15vw;
  background-color: #c9b89b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

a {
  color: #3a2a18;
  font-size: 3vh;
  font-weight: 600;
  text-decoration: none;
}

.sobremi {
  padding: 3vw;
  display: flex;
  place-items: center;
  gap: 8vw;
}

img {
  border-radius: 100%;
  width: 30vw;
  height: auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  justify-content: center;
}

.info h1 {
  font-size: 3vw;
  font-size: 600;
  place-self: center;
}

.info p {
  font-size: clamp(1rem, 1.3vw, 1.2rem);
  line-height: 1.6;
}